* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.attribution {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    position: relative;
    overflow: hidden;
}
.bg {
    width: 100%;
    height: 100vh ;
    position: absolute;
    display: flex;
}
.bg-top , .bg-bottom {
    width: 50%;
    position: relative;
}

.bg-top {
    transform: translateY(-300px);
}
 .bg-bottom {
    transform: translateY(300px);
 }

 .container {
     position: absolute;
     width: 370px;
     top: 50%;
     right:  50%;
     transform: translateY(-50%) translateX(50%);
     z-index: 1;
     font-family: 'Kumbh Sans', sans-serif;
     font-size: 18px;
 }

 .header {
     width: 100%;
     height: 144px;
     border-radius: 15px 15px 0 0;
     overflow: hidden;
 }

 .bg-avt {
     position: absolute;
     width: 110px;
     height: 110px;
     top: 0;
     left: 50%;
     transform: translateY(-50%) translateX(-50%);
     border-radius: 50%;
     border: 5px solid #fff;
 }
 .bg-card {
     width: 100%;
     height: 100%;
 }

 .content {
     width: 100%;
     background-color: #fff;
     text-align: center;
     position: relative;
     padding-bottom: 30px;
 }
.name {
     padding-top: 70px;
     color: hsl(229, 23%, 23%);
}
 .city {
     padding-top: 15px;
     color: hsl(0, 0%, 59%);
  }
  .age {
      font-weight: 100px;
      color: hsl(227, 10%, 46%);
      font-family: 'Kumbh Sans', sans-serif;
      padding-left: 10px;
  }

  .footer {
      background-color: #fff;
      display: flex;
      padding-top: 10px;
      border-top: 1px solid hsl(227, 10%, 46%);
      align-items: center;
      justify-content: space-between;
      padding: 20px 30px;
  }

  .status {
      width: 33.33333%;
      text-align: center;
  }
  .status-number {
      color: hsl(229, 23%, 23%) ;
      margin-bottom: 10px;
  }

  .status-sub {
      letter-spacing: 2px;
      color: hsl(227, 10%, 46%) ;
  }

  @media only screen and (max-width:740px ) {
      .container {
          width: 370px;
      }
      
  }